/* Nuevos colores: #303030, #D9DAD4, #BEA167, #F5F1E8 */

body {
    background-color: #F5F1E8;
    /* Fondo principal */
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-negro {
    background-color: #303030;
    /* Encabezados de sección */
    color: #F5F1E8;
    padding: .5rem;
}

.table th,
.table td {
    vertical-align: middle;
}

.table-dark {
    background-color: #303030;
    /* Encabezado de la tabla */
    color: #F5F1E8;
}

.btn-primary,
.btn-success {
    background-color: #BEA167 !important;
    /* Color para los botones de acción */
    border-color: #BEA167 !important;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: #D9DAD4 !important;
    border-color: #D9DAD4 !important;
    color: #303030 !important;
}

.col-form-label-small {
    font-size: 0.85rem;
}

.text-muted {
    color: #D9DAD4 !important;
    /* Color para texto secundario */
}

a :hover {
    color: red !important;
}