@font-face {
    font-family: 'GlacialIndifference';
    src: url('../Res/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edece8;
}

header h1 {
    font-family: "Lucidity Expand", Arial, sans-serif;
    font-size: 20px;
}

header h2 {
    font-family: "Lucidity Expand", Arial, sans-serif;
    font-size: 15px;
}

header {
    font-family: "Lucidity Expand", Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Estilo para el logo */
.logo {
    max-width: 100px;
    height: auto;
}

.pricing h1 {
    font-family: "Lucidity Expand", Arial, sans-serif;
    font-size: 15px;
}

.pricing {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    align-items: center;
}



.category-title {
    font-family: "Lucidity Expand", Arial, sans-serif;
    font-size: 12px;
    /* Tamaño de fuente */
    font-weight: bold;
    margin-top: 16px;
    color: #222;
    text-align: center;
}

.pricing-item,
.pricing-item h2,
.pricing-item p,
.price {
    font-family: 'GlacialIndifference', sans-serif;
}

.pricing-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    /* Espacio interno */
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    /* Espacio entre columnas */
}

.image-column {
    flex: 1;
    text-align: center;
}

.details-column {
    font-family: 'GlacialIndifference', sans-serif;
    flex: 2;
    text-align: center;
}

.price-column {
    flex: 1;
    text-align: right;
}

.product-image {
    max-width: 75px;
    max-height: 75px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    margin: 0 auto;
}

/* Estilo para el tuitulo del contenedor de precios de cada producto */
.pricing-item h2 {
    margin-top: 4px;
    color: #333;
    font-size: 18px;
    /* Tamaño de fuente */
}

/* Estilo para el parrafo del contenedor de precios de cada producto */
.pricing-item p {
    color: #666;
    font-size: 12px;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Estilo para los precios de cada producto */
.price {
    font-size: 12.5px;
    font-weight: bold;
}

.price.usd {
    color: #4CAF50;
}

.price.pesos {
    color: #FF5722;
}

.price.transf {
    color: #2196F3;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo para el contenedor de búsqueda */
.search-container {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: right;
}

#searchInput {
    background: transparent;
    border: 1px solid white;
    padding: 5px 10px 5px 30px;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    width: 160px;
}

.search-icon {
    position: relative;
    right: 195px;
    color: white;
    font-size: 16px;
    pointer-events: none;
}

#searchInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
}